<h1><%= @cat.name %></h1>
<h3><%= @cat.breed %></h3>
<% if @url %>
  <%= image_tag(@url, {:style => "width:400px;"}) %>
<% else %>
  <p>No image for this kitty</p>
<% end %>

<% if (current_user) && (@cat.user_id == current_user.id) %>
<p><%= link_to "Edit", edit_cat_path(@cat) %></p>
  <p><%= link_to "Delete cat", cat_path(@cat),
                          :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>
<% end %>
<p><%= link_to "Return to cats", cats_path %></p>